.root {
  &__drawer {
    ul {
      height: 100%;
      width: 350px;
      li {
        color: white;
        &:hover {
          background-color: rgb(1, 97, 214);
        }
        cursor: pointer;
      }
    }
  }
}
